<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="tour_agenstvo.Properties.Settings.tour_agenstvoConnectionString"
            connectionString="Data Source=ILYA-ПК\SQLSERVER;Initial Catalog=tour_agenstvo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>